/node_modules
/public/storage
/public/hot
/public/Ahantunyaburanga/*
/public/carouselimages/*
/public/chatImage/*
/public/gallery_Image/*
/public/Ibidukikije_Animal/*
/public/ibidukikije_Tree/*
/public/imyambaroGakondo/*
/public/background/*
/public/ibikoreshogakondo/*
/public/images/*
/public/ndumukristuStaff/*
/public/Ntibavuga_bavuga/*
/public/photos/*
/public/Parks/*
/public/registration/*
/public/userProfileImage/*
/public/kings/*
/public/postsImage/*
/public/museums/*
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
package-lock.json
